<div class="st">
<h1>What we do?</h1>
<h3>
  We plan for your business ideas and implement it for your success . Just one step ahead your business dream.
</h3>
<table>
  <tr><td>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt1Y_zkie9qX55cod8DfXg3z4lCp6hwEXNmogHZiEYEJBTS8fZPA" alt="">
  </td>
  <td>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaK0Y4RQ9SZ5AcABNurukZcFfbjr6VMI1oxHb6EWYzthoTBlKYMw" alt="">
  </td>
  <td>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvjgCV0VauGGI8xAwpVGi6fTCSHJjoQsy9d0dr7QyKr3fwGXqh" alt="">
  </td>
  <td>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgwQyAImGGV7_Qm6qQmcdqAm786sge2cVGHp8K2nQ9kNeh49gOjg" alt="">
  </td>
</tr>
<tr>
</table>
</div>